.conteudo{
    display: flex;
    flex-direction: column;
    justify-items: center;
    border-radius: 0.625rem;
    max-width: 400px;
    margin: 2.5em 1em 6em 1em;
    padding: 0 3.5rem;
    background-color: var(--branco); 
}
.conteudo_imagem{
    text-align: center;
    margin: 20px 0 ;
}

.conteudo_imagem img{
    max-width: 100%;
    height: 100%;
    border-radius: 10px;
}

.input_adicionar{
    border-color: var(--marinho);
    color: var(--marinho);
    border-radius: 24px;
    border: 1px solid;
    padding: 1em;
    width: 100%;
    text-align: center;
}

.input_adicionar::placeholder{
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--marinho);
}

.input_conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.25rem;
    gap: 8px;
}

.conteudo_botao{
    padding: 1rem 1.5rem;
    background-color: var(--coral);
    color: var(--branco);
    border: none;
    border-radius: 24px;
    cursor: pointer;
    font-size: 1rem;
    font-family: var(--fonte-principal);
    text-align: center;
    width: 60%;
    text-decoration: none;
}

.conteudo_botao:hover{
    background-color: var(--ocre);
}

@media (min-width:768px) {

    .conteudo{
        display: flex;
        flex-direction: column;
        justify-items: center;
        border-radius: 0.625rem;
        max-width: 400px;
        margin: 4rem auto;
        padding: 0 3.5rem;
        background-color: var(--branco); 
    }
    
}

@media (min-width:1025px) {

    .conteudo{
        display: flex;
        flex-direction: column;
        justify-items: center;
        border-radius: 0.625rem;
        max-width: 400px;
        margin: 4rem auto;
        padding: 0 1rem 6rem 1rem;
        background-color: var(--branco); 
    }
    
}