@import url(conteudo.css);
@import url(lista.css);
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

:root {
    --marinho-degrade: linear-gradient(to bottom, #000000, #131730, #232E74);
    --branco: #ffffff;
    --marinho:#232E74;
    --fonte-principal: "Krona One", sans-serif;
    --coral:  #f55b64;
    --ocre: #C2373F;
    
}
body{
    box-sizing: border-box;
    background: var(--marinho-degrade) no-repeat;
    height: 100vh;
    font-family: var(--fonte-principal);
    font-weight: 400;
    color: var(--marinho);
    justify-content: center;
    align-items: center;
}